.root {
  color: light-dark(var(--mantine-color-pri-6), var(--mantine-color-pri-6));
  transition: 0.25s all ease;

  @include hover {
    color: light-dark(var(--mantine-color-pri-9), var(--mantine-color-pri-6));
  }
}
