.dropdown {
  border: 0px transparent;
  padding: 0;
  overflow: hidden;
  background-color: light-dark(
    var(--mantine-color-body),
    var(--mantine-color-dark-8)
  );
}

.item {
  transition: 0.25s all ease;
  border-radius: 0;
  overflow: hidden;

  @include hover {
    background-color: light-dark(
      var(--mantine-color-gray-light),
      var(--mantine-color-dark-light)
    );

    // .itemLabel {
    //   color: var(--mantine-color-pri-6);
    // }
  }
}

.itemActive {
  font-weight: bold;
  background-color: light-dark(
    var(--mantine-color-gray-light),
    var(--mantine-color-dark-light)
  );
}

// .itemLabel {
//   color: var(--mantine-color-text);
// }
