.link {
  transition: 0.25s all ease;

  @include hover {
    background-color: light-dark(
      var(--mantine-color-gray-light),
      var(--mantine-color-dark-light)
    );

    color: var(--mantine-color-text);
  }
}

.linkActive {
  font-weight: bold !important;
  background-color: light-dark(var(--mantine-color-pri-light));
  color: var(--mantine-color-pri-6);

  transition: 0.25s all ease;
}

.linkDanger {
  color: var(--mantine-color-red-6);
  transition: 0.25s all ease;

  @include hover {
    background-color: light-dark(
      var(--mantine-color-red-light),
      var(--mantine-color-red-light)
    );
  }
}
