.body {
  padding: var(--mantine-spacing-md) 0;
}

.header {
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  box-shadow: var(--mantine-shadow-xs);
}

.link {
  transition: 0.25s all ease;

  @include hover {
    background-color: light-dark(
      var(--mantine-color-gray-light),
      var(--mantine-color-dark-light)
    );
  }
}

.linkActive {
  font-weight: bold;
  color: var(--mantine-color-text);
  transition: 0.25s all ease;
  background-color: light-dark(
    var(--mantine-color-gray-light),
    var(--mantine-color-dark-light)
  );

  @include hover {
    background-color: light-dark(
      var(--mantine-color-gray-light),
      var(--mantine-color-dark-light)
    );
  }
}

.linkDanger {
  color: var(--mantine-color-red-6);
  transition: 0.25s all ease;

  @include hover {
    background-color: var(--mantine-color-red-light);
  }
}

.linkDangerActive {
  font-weight: bold;
  color: var(--mantine-color-red-6);
  transition: 0.25s all ease;
  background-color: var(--mantine-color-red-light);

  @include hover {
    background-color: var(--mantine-color-red-light);
  }
}
